.row
  .col-md-6.col-xs-12

    .margintop-20
    .default_label Position
    %input.default_input_text.width-350{:placeholder => 'Position', :name => 'university[position]', :value => entity.position}

    .margintop-20
    .default_label Name
    %input.default_input_text.width-350{:placeholder => 'Name', :name => 'university[name]', :value => entity.name}