#edit_note.modal.slide-in
  .modal-dialog
    .wrapper
      .close{:'data-dismiss' => "modal",  :'aria-label' => "Close"}
        %img{:src => '/assets/close_shape.png'}
      .h3 Add new note
      .note_data_body