#new_password_modal.modal.auth.slide-in
  .modal-dialog
    .wrapper
      .close{:'data-dismiss' => "modal",  :'aria-label' => "Close"}
        %img{:src => '/assets/close_shape.png'}

      .h1 Create new password?
      .marginbottom-25
        .ui.input
          .label-text New Password:
          .input-container
            %span.error_message A user with such an email address does not exit !
            %input{:type => 'password', :placeholder => 'Enter password'}
      .marginbottom-25
        .ui.input
          .label-text Confirm Password:
          .input-container
            %span.error_message A user with such an email address does not exit !
            %input{:type => 'password', :placeholder => 'Repeat password'}


      .margintop-40
        .ui.button.large.fill.background.background-prymary-gradient.color.color-white.border.rounded-8.with_shadow Create new password

