#success_modal.modal.auth.slide-in
  .modal-dialog
    .wrapper
      .close{:'data-dismiss' => "modal",  :'aria-label' => "Close"}
        %img{:src => '/assets/close_shape.png'}
      .h1 Success

      .p.text-center.success_message
        Our congratulations !
        
        

      .margintop-40.text-center
        .margintop-50
        = link_to 'OK','#', :class => "ui button block middle fill background background-prymary-gradient color color-white border rounded-8 with_shadow  blue_button", :'data-dismiss' => "modal",  :'aria-label' => "Close"      