.notes-header
  = link_to '#' do
    .h5
      %span.ui.icon.marginright-5.inline-block.arrowleft.black.v-middle
      Back to all notes
  .delete-button.function-button
    .ui.icon.delete.white      
  .change-case-button.function-button
    .ui.icon.typography.white  
  .checkbox-button.function-button
    .ui.icon.checkbox.blue              
.notes-body.show
  .date March 6, 2018, 14:38 PM
  .h4 Once I was a great designer, and now I'm engaged in garbage!
  %p Corporate culture consolidates the advertising clutter. Targeting changes the rating. The traditional channel, at first glance, distorts the creative.    
  %p The product life cycle is versioned. Positioning in the market distorts the content. The analysis of market prices, discarding details, incorrectly translates the consumer department of marketing and sales. Focusing neutralizes the sociometric presentation material. The life cycle of products justifies delicious cookies