.row
  .col-md-6.col-xs-12

    .margintop-20
    .default_label= t("view.admin.city.name_rus")
    %input.default_input_text.width-350{:placeholder => t("view.admin.city.name_rus"), :name => 'city[name_rus]', :value => entity.name_rus}

    .margintop-20
    .default_label= t("view.admin.city.name_en")
    %input.default_input_text.width-350{:placeholder => t("view.admin.city.name_en"), :name => 'city[name_en]', :value => entity.name_en}