#error_modal.modal.auth.slide-in
  .modal-dialog
    .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-12.col-xs-offset-0
      .modal-contents.mod
        .close{:'data-dismiss' => "modal",  :'aria-label' => "Close"}
        .center_elements
          .img
          .text
            .h3
              Error 
            .p.error_message