= render partial: 'layouts/header', :locals =>{ :page_type => 'other_pages' }
.margintop-80
  .errors_block
    .error_500
      .container
        .info
          .icon
          .text
            .h2 
              500 
            .h4
              Internal Server Error