.row
  .col-md-6.col-xs-12

    .margintop-20
    .default_label Name
    %input.default_input_text.width-350{:placeholder => 'Name', :name => 'role[name]', :value => entity.name}

    .margintop-20
    .default_label Description
    %input.default_input_text.width-350{:placeholder => 'Description', :name => 'role[description]', :value => entity.description}