%footer
  .wrapper
    .copyright  © Copyright 2020, Eleway, Inc. «Eleway» and logo are proprietary trademarks of Eleway, INC.
    .links
      = link_to 'Terms of Service' , terms_of_service_index_index_path, :class => 'inline-block' 
      |
      = link_to 'Privacy Policy', privacy_policy_index_index_path, :class => 'inline-block'